@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
  height: 90vh;
  background-color: #1F2937;
}

a{
  text-decoration: none;
}

nav{
  width: 100%;
  padding: 1.3rem;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.left-side img{
  height: 50px;
  border-radius: 50%;
}

.right-side ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.4rem;
}

.right-side li a{
  color: #ffff;
  font-weight: 400;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
}
header{
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h3{
  color: #F9FAF8;
  font-size: 48px;
}

header p{
  color: #E5E7EB;
  font-size: 18px;
  margin: 1rem 0;
}

header button{
  background-color: #3882F6;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.3rem;
  border: none;
  color: #E5E7EB;
  width: 150px;
}

.content-img img{
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #F9FAF8;
}
.feature-header{
  margin: 2rem 0;
}
.feature-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.img-description{
  text-align: center;
  margin-bottom: 5rem;
}
.img-description img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
