@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
  height: 90vh;
  background-color: #1F2937;
}
img{
  width: 100%;
}

a{
  text-decoration: none;
}

nav{
  width: 100%;
  padding: 1.3rem;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.left-side h3{
  color: #F9FAF8;
  font-size: 2rem;
}

.right-side ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.4rem;
}

.right-side li a{
  color: #ffff;
  font-weight: 400;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
}
header{
  display: flex;
  align-items: center;
  gap: 2rem;
}